<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reconciliation CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="app.js"></script>
    <script src="createTransactionModal.js"></script>
</head>

<body ng-app="demoAppModule" ng-controller="DemoAppCtrl as demoApp">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{demoApp.thisNode}}</a>
            </div>
            <button ng-click="demoApp.openCreateTransactionModal()" type="button" class="btn btn-primary navbar-btn">Create New Transaction</button>
            <button ng-click="demoApp.refresh()" type="button" class="btn btn-default navbar-btn"><span
                    class="glyphicon glyphicon-refresh"></span></button>
        </div>
    </nav>

    <script type="text/ng-template" id="createTransactionModal.html">
        <div class="modal-header">
            <h4 class="modal-title">Add new Transaction</h4>
        </div>
        <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="createTransactionCounterparty" class="control-label">Counter-party:</label>
                    <select ng-model="createTransactionModal.form.counterparty" class="form-control" id="createTransactionCounterparty"
                            ng-options="peer as peer for peer in createTransactionModal.peers">
                    </select>
                </div>
                <div class="form-group">
                    <label for="createTransactionCurrency" class="control-label">Currency (ISO code):</label>
                    <input type="text" ng-model="createTransactionModal.form.currency" class="form-control" id="createTransactionCurrency">
                </div>
                <div class="form-group">
                    <label for="createTransactionAmount" class="control-label">Amount (Int):</label>
                    <input type="text" ng-model="createTransactionModal.form.amount" class="form-control" id="createTransactionAmount">
                </div>
                <div class="form-group">
                    <label for="createTransactionID" class="control-label">Transaction ID:</label>
                    <input type="text" ng-model="createTransactionModal.form.transactionID" class="form-control" id="createTransactionID">
                </div>
                <div ng-show="createTransactionModal.formError" class="form-group">
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Enter valid Transaction creation parameters
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="createTransactionModal.cancel()" type="button" class="btn btn-default">Close</button>
                <button ng-click="createTransactionModal.create()" type="button" class="btn btn-primary">Create Transaction</button>
            </div>
        </form>
    </script>

    <script type="text/ng-template" id="createTransactionMsgModal.html">
        <div class="modal-body" id="create-transaction-modal-body">
            {{ createTransactionMsgModal.message }}
        </div>
    </script>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div ng-show="!demoApp.transactions.length" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">There are no recorded transactions</h3>
                </div>
                <div class="panel-body">Use the "Create New Transaction" button to initiate a Transaction.</div>
            </div>
            <div ng-show="demoApp.transactions.length" class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Recorded transactions:</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Transaction Initiated By</th>
                            <th>Transaction Carried out by</th>
                            <th>Amount</th>
                            <th>Transaction ID</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="transaction in demoApp.transactions">
                            <td class="vert-align">{{transaction.sourceTenant}}</td>
                            <td class="vert-align">{{transaction.helperTenant}}</td>
                            <td class="vert-align">{{transaction.amount}}</td>
                            <td class="vert-align">{{transaction.transactionID}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>





</body>
